---
title: About Divekit
linkTitle: About
menu:
  main:
    weight: 10

---



{{% blocks/lead color="primary" %}}
<h1> About Divekit </h1>

The Divekit toolset implements a set of features which are used to automatically provide programming exercises in form
of repositories on the platform Gitlab. Optionally exercises can be individualized using the integrated mechanism for
individualization. Besides this main functionality, there are a lot of additional features which extend the toolchain.
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}

{{% blocks/feature title="" image="../images/about/logo.png" %}}
{{% /blocks/feature %}}
{{% blocks/feature title="" image="../images/about/archilab-logo.png" %}}
{{% /blocks/feature %}}
{{% blocks/feature title="" image="../images/about/th-logo.png" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}
