+++
title = "Divekit"
linkTitle = "Divekit"

+++

{{< blocks/cover title="Welcome to Divekit" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< param "github_repo" >}}">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to Divekit

Some informative words about an awesome piece of software
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature title="Individual tasks for students" image="images/student.png" %}}
Write once, reuse many times. Create numerous individualizations according to a uniform template
{{% /blocks/feature %}}


{{% blocks/feature title="Rich toolset" image="images/tools.png" %}}
Numerous tools simplify creating, customizing and managing projects.
{{% /blocks/feature %}}


{{% blocks/feature title="Tried and tested" image="images/tested.png" %}}
The divekit has been developed and used in practice for several years
{{% /blocks/feature %}}


{{< /blocks/section >}}
